<h2>Listagem de consultas e pacientes</h2>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Consultas" asp-action="Adicionar">Nova consulta</a>
    <!--<a class="nav-link text-dark" asp-area="" asp-controller="Consultas" asp-action="Index">Consultas</a>-->
</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Pacientes" asp-action="AddEd">Novo paciente</a>
    
</div>


<table>
    <!--<tbody>

        {
        <tr>
            <td>Consulta.Id</td>
            <td>Consulta.Nome</td>
            <td>Consulta.Tipoexame</td>
            <td>Consulta.Descricao</td>
        </tr>
        }

    </tbody>-->
</table>