<h2>Agendar consulta</h2>

<form action="Adicionar" method="post">
    <div>
        <label>Nome: </label>
        <input type="text" name="nome" id="txtNome" autofocus />
    </div>
    <div>
        <label>Tipo de exame: </label>
        <input type="number" name="Tipoexame" id="num" autofocus />
    </div>
    <div>
        <label>Descrição: </label>
        <input type="number" name="Descricao" id="num" autofocus />
    </div>
    
    <input type="submit" value="Salvar" />
    <button type="submit"></button>
    
</form>
